.about {
  width: 100%;
  display: block;
  justify-content: center;
  margin: 120px auto;
  padding: 16px;
  font-family: Pretendard-Light;
  color: var(--text-color);
}

.about_title p {
  font-size: 24px;
  line-height: 160%;
}

.enjoy {
  width: 42%;
  padding: 38px 40px;
  background-color: #f6eff4;
  border-radius: 24px;
}

.tools,
.skills {
  font-family: Neue Montreal;
  letter-spacing: 0.5px;
  width: 28%;
  padding: 38px 40px 30px 40px;
  background-color: #f6f6f6;
  border-radius: 24px;
}

.about h2 {
  font-size: 36px;
  letter-spacing: 2px;
  margin-bottom: 12px;
  font-family: Colgent, serif;
  font-weight: 400;
}

.about_section {
  max-width: 920px;
  margin: auto auto 10px auto;
  padding: 120px 0px;
  text-align: center;
  background-color: #e9f1f1;
  border-radius: 30px;
}

.about_list {
  max-width: 920px;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

.tools p,
.skills p {
  padding-bottom: 14px;
}

.emoji_flex {
  display: block;
}

.about_list span {
  font-size: 14px;
}

.emoji_flex p {
  display: flex;
  justify-content: flex;
  align-items: center;
}

.emoji_flex span {
  margin-left: 8px;
}

.arrow {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Contact form ---------------------------------  */

/* .container {
  background: #efefef;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Pretendard-Regular;
} */

/* form {
  background: rgb(255, 255, 255);
  padding: 2vw 4vw;
  display: flex;
  flex-direction: column;
  margin: 100px 0;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

form h3 {
  font-family: Colgent, serif;
  font-weight: 400;
  font-size: 36px;
  color: var(--text-color);
  margin-bottom: 20px;
}

form input,
form textarea {
  font-family: Pretendard-Regular;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  resize: none; 크기 조절 비활성화
}

input:focus,
textarea:focus {
  border: 2px solid var(--accent-color);
}

form button {
  padding: 15px;
  background: var(--accent-color);
  color: #fff;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 100%;
  margin: 20px auto 0;
  border-radius: 4px;
} */

/* ////////////////////////////////////// MOBILE, ~ 767 //////////////////////////////////// */

@media screen and (max-width: 767px) {
  .about {
    display: block;
    margin: auto;
    margin-top: 60px;
  }

  .about_section {
    padding: 60px 24px;
  }

  .about_list {
    flex-direction: column;
  }

  .enjoy,
  .tools,
  .skills {
    width: 100%;
    padding: 30px 24px;
  }

  .container {
    margin-top: 20px;
  }

  .about_title p {
    font-size: 18px;
    line-height: 160%;
  }

  br {
    display: none;
  }

  /* Contact form --------------------------------- */

  /* 
  form {
    padding: 20px;
    margin: 20px;
  }

  form h3 {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 20px;
  } */
}
