/* Tab Menu */

.tab-menu {
  display: flex;
  gap: 32px; /* 메뉴 간격 */
  margin-bottom: 40px;
  justify-content: center;
}

.tab-btn {
  font-family: Pretendard-Regular;
  font-size: 20px;
  padding: 8px 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  color: var(--gray-color); /* 비활성 글자 색 */
}

.tab-btn.active {
  color: var(--accent-color); /* 활성 글자 색 */
}

.tab-btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content.active {
  display: block;
}

/* UIUX --------------------------------- */

.uiux-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.uiux_project {
  width: 100%;
}

/* Branding --------------------------------- */

.logo-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.myLogos {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 12px;
}

.image-container {
  position: relative;
  display: inline-block;
}

/* hover 시에 밝기 어둡게 */
.myLogos:hover {
  filter: brightness(60%);
  cursor: pointer;
}

.altCaption {
  width: 70%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: #fff;
  padding: 10px;
  font-family: Pretendard-Light;
  font-size: 16px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* hover시에 caption 글자 보이게 */
.image-container:hover .altCaption {
  opacity: 1;
}

/*////////////////////////////////////// MOBILE, ~ 767 /////////////////////////////////////*/

@media screen and (max-width: 767px) {
  .tab-menu {
    display: flex;
    gap: 32px; /* 메뉴 간격 */
    margin-bottom: 10px;
    justify-content: center;
  }

  .tab-btn {
    font-size: 18px;
  }
  /* UIUX --------------------------------- */
  
  .uiux-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Branding --------------------------------- */

  .modal-content {
    width: 80%;
  }


  .logo-container {
    width: 100%;
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
