/* Request Section --------------------------------- */
.request {
  background: url('../assets/img/background.png') no-repeat center center;
  background-size: cover;
}

.wide-section {
  padding: 70px 0px;
}

.request-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  font-family: Pretendard-Regular;
}

.semibold {
  font-family: Pretendard-SemiBold;
}

/* Contact Form */

form {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 40px 60px;

  /* 유리 효과 */
  background: rgba(223, 222, 222, 0.4); /* 반투명 흰색 */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); /* 경계 살짝 */
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1),
    /* 기본 그림자 */ 0 8px 40px rgba(0, 0, 0, 0.01); /* 부드럽게 퍼지는 그림자 */
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; /* 아래 여백 */
}

.field input,
.field textarea {
  font-family: inherit;
  font-size: 16px;
  padding: 16px;
  margin: 8px 0;
  border: 1px solid rgba(255, 255, 255, 0.3); /* 경계 살짝 */
  border-radius: 8px;

  /* 유리 효과 */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Safari 대응 */

  outline: none;
  box-sizing: border-box;
}

.field input:focus {
  border: 2px solid var(--accent);
}

input[type='submit'] {
  font-family: Pretendard-Regular;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  color: var(--white);
  background: var(--accent);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

#message {
  width: 100%;
  height: 200px;
  padding: 20px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  resize: none;
  white-space: pre-wrap; /* 줄바꿈 문자와 자동 줄바꿈 모두 적용 */
  overflow-wrap: break-word; /* 긴 단어 줄바꿈 */
  text-align: left; /* 왼쪽 정렬 */
  box-sizing: border-box; /* padding 포함 너비 계산 */
  line-height: 150%;
}

/*////////////////////////////////////// MOBILE, ~ 767 /////////////////////////////////////*/

/* Request Section --------------------------------- */

@media screen and (max-width: 767px) {
  .wide-section {
    padding: 0px 0px;
  }
  .request-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  /* Contact Form */

  form {
    padding: 20px;
    width: 100%;
  }

  .field {
    margin-bottom: 8px;
  }
}
