/* Font Face --------------------------------- */

@font-face {
  font-family: Pretendard-Light;
  src: url('./assets/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Regular;
  src: url('./assets/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Colgent;
  src: url('./assets/fonts/Colgent-Regular.woff') format('woff');
}

/* Colours --------------------------------- */

:root {
  --black-color: #141714;
  --white-text-color: #fff;
  --background-color: #fff;
  --accent-color: #489870;
  --dark-gray-color: #5b5b5b;
  --gray-color: #969996;
}

/* Default --------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Section --------------------------------- */
.project_section {
  max-width: 1400px;
  margin: auto;
  padding: 80px 20px 0px 20px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

/* Typography --------------------------------- */

.heading-1 {
  font-family: Colgent;
  margin: auto;
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 30px;
}

.title-lg {
  font-family: Pretendard-Light;
  margin: auto;
  font-size: 80px;
  font-weight: normal;
  color: var(--black-color);
  padding: 40px;
  text-align: center;
}

.title-sm {
  color: var(--black-color);
  font-family: Pretendard-Regular, serif;
  font-weight: 400;
  font-size: 18px;
  margin: 8px 0px;
}

.body-md {
  font-family: Pretendard-Regular;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: var(--black-color);
  margin-top: 30px;
}

.body-sm {
  font-family: Pretendard-Light;
  color: var(--dark-gray-color);
  font-size: 16px;
  line-height: 1.4;
}

.label-sm {
  display: inline-block;
  font-family: Pretendard-Light;
  letter-spacing: 0.5px;
  font-size: 12px;
  color: var(--dark-gray-color);
  padding: 4px 8px;
  border-radius: 30px;
  background-color: #e7eae7;
  margin: 14px 0px;
}

/* Buttons --------------------------------- */

.button_primary {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 30px;
}

.button_secondary {
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin: 20px 0px;
  font-family: Pretendard-Regular;
  font-weight: 500;
  border-radius: 100px;
  color: var(--black-color);
  border: 1px solid #e0e5e3;
  background-color: #ebedec;
  padding: 12px 20px;
}

/* Navbar --------------------------------- */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 40px;
  background-color: transparent;
  position: fixed; /* 상단 고정 */
  top: 0; /* 화면 상단에 고정 */
  left: 0; /* 화면 왼쪽에 고정 */
  right: 0; /* 화면 오른쪽에 고정 */
  z-index: 1000; /* 다른 요소들 위에 배치 */
}

.nav_logo {
  width: 30px;
  height: auto;
}

.nav_logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav_logo a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav_menu {
  display: flex;
  gap: 8px;
  left: 0;
}

.nav_menu li a {
  font-size: 16px;
  font-family: Pretendard-Regular;
  letter-spacing: 0.5px;
  transition: color 0.3s ease; /* hover시에 색상 천천히 변화 */
  padding: 12px 20px;
}

/* Hamburger Menu 숨기기*/

.navbar_toggleBtn {
  display: none;
  right: 5%;
  font-size: 24px;
}

/* Hero --------------------------------- */

.hero {
  position: relative;
  width: 100%;
  height: 700px; /* 부모 요소 높이를 화면 높이로 설정 */
  overflow: hidden; /* 블러가 부모 영역을 넘지 않게 잘림 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: calc(72% + 10px);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(90px);
  animation: noise 1s infinite linear;
  transform: translate(-50%, -50%);
}

.hero_container {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}

.hero .heading-1 {
  /* 텍스트 그라데이션 */
  background: linear-gradient(
    90deg,
    rgb(24, 25, 25) 0%,
    rgba(14, 15, 15, 0.8) 50%,
    rgb(24, 25, 25) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top_main_title {
  margin-top: 40px;
}

/* Work --------------------------------- */

.work-container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.work-card {
  position: relative; /* 텍스트 기준 */
  display: block;
}

.work-card img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.work-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%; /* 상단 30% 영역만 */
  background: linear-gradient(
    to bottom,
    rgba(61, 63, 62, 0.2),
    rgba(0, 0, 0, 0)
  );
  z-index: 1; /* 텍스트 위, 이미지 아래 */
  pointer-events: none;
  border-radius: 12px;
}

.img-text {
  position: absolute;
  top: 4%;
  left: 4%;
  color: var(--white-text-color);
  font-size: 24px;
  font-family: Pretendard-Light;
  z-index: 2;

  /* 유리 효과 */
  background: rgba(0, 0, 0, 0.1); /* 흰색 반투명 */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari 호환 */
  padding: 6px 12px;
  border-radius: 30px;
}

/* Footer --------------------------------- */

.footer {
  text-align: center;
  padding: 8rem 4rem;
  background-color: #fff;
  font-family: Pretendard-Light;
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #4d4d4d;
}

.social_link p {
  cursor: pointer;
  font-family: Colgent, Pretendard-Light;
  font-size: 24px;
  margin-bottom: 24px;
}

.copyright {
  color: var(--gray-color);
}

/* Animation --------------------------------- */

/* Hero Fade */
.top_fadeIn {
  animation-name: example;
  animation-duration: 2s;
  position: relative;
}

@keyframes example {
  0% {
    opacity: 0;
    top: -30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.bottom_fadeIn {
  animation-name: example2;
  animation-duration: 1s;
  position: relative;
  opacity: 0; /* 초기에 투명도를 0으로 설정 */
  top: 30px; /* 초기에 상단으로 이동한 상태로 설정 */
  animation-fill-mode: forwards; /* 애니메이션이 끝난 후 상태를 유지하도록 설정 */
}

.bottom_fadeIn:nth-child(1) {
  animation-delay: 0.1s;
}
.bottom_fadeIn:nth-child(2) {
  animation-delay: 0.2s;
}
.bottom_fadeIn:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes example2 {
  0% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/* Casestduy Button*/
.casestudy_right {
  display: flex;
  justify-content: end;
}

.casestudy_left {
  display: flex;
  justify-content: start;
}

.casestudy_both {
  display: flex;
  justify-content: space-between;
}

.next_casestudy {
  width: 90%;
  padding: 40px 0px;
  margin: auto;
}

.next_casestudy button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 40px;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-family: Pretendard-Regular, serif;
  letter-spacing: 1%;
}

.next_casestudy button a {
  color: var(--black-color);
  display: flex;
  align-items: center;
}

/* Hover 시에 Stroke 색상 변경, Fill은 면 색상 */
.next_casestudy a:hover,
.next_casestudy a:hover path {
  color: var(--accent-color);
  stroke: var(--accent-color);
}

.arrow_left {
  margin-right: 12px;
}

.arrow_right {
  margin-left: 12px;
}

/*////////////////////////////////////// MOBILE, ~ 767 /////////////////////////////////////*/

@media screen and (max-width: 767px) {
  /* Typography --------------------------------- */
  .heading-1 {
    font-size: 30px;
  }

  .title-lg {
    font-size: 36px;
    padding: 28px;
  }

  .body-md {
    font-size: 20px;
  }

  /* Work --------------------------------- */

  .work-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .img-text {
    font-size: 16px;
  }

  /* Navbar --------------------------------- */

  .nav_logo img {
    width: 30px;
  }

  /* Hamburger Menu*/
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    border-top: 1px solid var(--border1-color);
    top: 100%;
    width: 100%;
    background-color: #fff;
  }

  .nav_menu.active {
    height: 100vh;
    display: flex;
    gap: 40px;
    margin: auto;
    padding: 120px;
  }

  .nav_menu li {
    width: 100%;
    text-align: center;
  }

  .nav_menu li a {
    font-size: 18px;
  }

  .navbar_toggleBtn {
    width: 34px;
    height: 34px;
    display: block;
  }

  .navbar_toggleBtn .line1,
  .navbar_toggleBtn .line3 {
    transition: transform 0.3s;
    transform-origin: center;
  }
  .navbar_toggleBtn.active .line1 {
    transform: rotate(45deg) translateY(11px) translateX(0px);
  }

  .navbar_toggleBtn.active .line3 {
    transform: rotate(-45deg) translateY(-11px) translateX(0px);
  }

  .navbar_toggleBtn.active .line2 {
    display: none;
  }

  /* Hero --------------------------------- */

  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67vh;
  }

  .hero_container {
    display: block;
    padding: 0px 16px;
  }

  .top_main_title {
    margin-top: 50px;
  }

  /* Project --------------------------------- */

  .project_section {
    padding: 16px;
  }

  .project_container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer --------------------------------- */
  .footer {
    padding: 4rem 0rem;
  }

  .copyright {
    margin: 2rem 0rem;
  }

  /* Project button ---------------------------*/
  .next_casestudy button {
    font-size: 24px;
  }
}
